:root {
  --border-width: 1px;
  --border-style: solid;
}

body {
  overflow-y: scroll;
}

@media (max-width: 1200px) {
  body {
    width: max-width;
  }
}

@media (min-width: 1201px) {
  body {
    width: 1200px;
    margin: 0 auto;
  }
}

h1,
h2 {
  text-align: center;
}

dl {
  margin: auto;
  max-width: 800px;
  line-height: 150%;
}

/* Scrollbar style in webkit browsers */
::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
}

/* Scrollbar style in FireFox */
* {
  scrollbar-color: grey rgba(255, 255, 255, 0);
  scrollbar-width: thin;
}
